*{
    margin: 0;
    font-family: Roboto;
}

body{
    background-color: rgba(122,243,246,0.2);
}

/* -------------- HEADER -------------- */


#background_image{
    width: 100%;
    height: 130px;
}

#background_image_ipad, #logo{
    display: none;
}

#background_image_pc{
    display: none;
}

nav{
    display: none;
}

#triangle{
    position: absolute;
    height: 0;
    width: 0;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgba(69,99,99,0.95);
    border-left: 15px solid transparent;
    right: 5%;
    top: -20px;
}

#mobil_nav{
    display: none;
    position: absolute;
    top: 88px;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    background-color: rgba(69,99,99,0.95);
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
}

#mobil_nav li{
    list-style-type: none;
    line-height: 40px;
}

#mobil_nav a{
    color: white;
    text-decoration: none;
}

#mobil_nav #nav_loc{
    color: #FECCCC;
}

#burger_icon{
    position: absolute;
    right: 20px;
    top: 20px;
}

#text{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

#text h1{
    margin-bottom: 20px;
    font-size: 19px;
}

#text p{
    font-size: 14px;
}

/* -------------- MAIN -------------- */

.galleri_section h2{
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Dancing Script', cursive;
}

.slider{
    position: relative;
    width: 100%;
    height: 310px;
    margin: auto;
    margin-bottom: 50px;
}

.left_arrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: rgba(0,0,0,0.2);
}

.right_arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%) rotate(180deg);
    background-color: rgba(0,0,0,0.2);
}

#left_arrow_2, #right_arrow_2{
    top: 40%;
}

#left_arrow_2{
    left: -20px;
}

#right_arrow_2{
    right: -20px;
}

.image_selected{
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    bottom: 85px;
}

.image_selected2{
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    bottom: 97px;
}

.image_selecter, .image_selecter2{
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid grey;
}

#image_selecter_1, #image_selecter_5{
    background-color: grey;
}

#slider1{
    background-image: url("../images/klinik1.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slider2{
    background-image: url("../images/fake_review_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 150px;
}

/* -------------- FOOTER -------------- */

footer{
    background-color: rgb(64,104,102);
    color: white;
    padding: 30px;
}

footer p{
    font-size: 12px;
}

.footer_section{
    width: 49%;
    display: inline-block;
}

#left_side h3{
    margin-bottom: 10px;
    font-size: 16px;
}

#nummer{
    margin-bottom: 15px;
}

#nummer img, #nummer p{
    display: inline-block;
}

#nummer p{
    position: relative;
    bottom: 18px;
    transform: translate(0,0%);
}

.ikon{
    width: 35px;
}

#icons{
    display: none;
}

#nummer #cvr_pc{
    display: none;
}
/* ------------------------------------ */
/* --------------- Ipad --------------- */
/* ------------------------------------ */

@media screen and (min-width: 700px) {

    /* -------------- HEADER -------------- */

    #background_image{
        display: none;
    }

    #background_image_ipad{
        display: block;
        width: 100%;
    }

    #logo{
        display: block;
        position: absolute;
        left: 5%;
        width: 100px;
        top: 20px;
    }

    #text{
        width: 60%;
        font-size: 17px;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    /* -------------- MAIN -------------- */


    .galleri_section h2{
        width: 80%;
        font-size: 22px;
        margin: auto;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(120,120,120,0.54);
        -moz-box-shadow: 2px 2px 3px 0px rgba(120,120,120,0.54);
        box-shadow: 2px 2px 3px 0px rgba(120,120,120,0.54);
    }

    .slider{
        height: 600px;
        margin-top: 50px;
        margin-bottom: 90px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image_selected{
        bottom: 130px;
    }

    .image_selected2{
        bottom: 172px;
    }

    #left_arrow_2{
        top: 40%;
        left: -10px;
    }

    #right_arrow_2{
        top: 40%;
        right: -10px;
    }

    #slider1{
        background-image: url("../images/klinik1.jpeg");
}

    #slider2{
        background-image: url("../images/fake_review_1.png");
        height: 300px;
    }


    /* -------------- FOOTER -------------- */

    footer p{
        font-size: 14px;
    }

    .footer_section{
        width: 40%;
        position: relative;
        left: 10%;
    }

    .ikon{
        width: 40px;
    }
}

/* ------------------------------------ */
/* ------------- Computer ------------- */
/* ------------------------------------ */

@media screen and (min-width: 1024px) {

    /* -------------- HEADER -------------- */

    #background_image_ipad{
        display: none;
    }

    #background_image_pc{
        display: block;
        width: 100%;
        height: 50vh;
    }

    #logo{
        left: 10%;
        transform: unset;
    }

    #burger_icon{
        display: none;
    }

    nav{
        display: block;
        width: 600px;
        position: absolute;
        top: 30px;
        right: 10%;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
    }

    nav li{
        list-style-type: none;
        display: inline-block;
    }

    nav a{
        color: white;
        text-decoration: none;
    }


    #text{
        width: 35%;
        left: 10%;
        transform: unset;
        font-size: 17px;
    }

    #text h1{
        font-size: 30px;
    }

    /* -------------- MAIN -------------- */

    .galleri_section h2{
        font-size: 24px;
    }

    .slider{
        background-position: center;
        height: 800px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #slider1{
        background-size: cover;
    }

    #slider2{
        height: 400px;
        width: 80%;
    }

    #left_arrow_2{
        top: 50%;
        left: 0;
    }

    #right_arrow_2{
        top: 50%;
        right: 0;
    }

    /* -------------- FOOTER -------------- */

    footer{
        margin-top: 50px;
    }

    footer p{
        font-size: 14px;
    }

    .footer_section{
        width: 29%;
        position: relative;
        left: 10%;
    }

    .footer_section h3, #cvr{
        display: none;
    }

    #right_side{
        left: 15%;
    }

    #nummer img{
        display: none;
    }

    #nummer p{
        display: block;
    }

    .ikon{
        display: none;
    }

    #icons{
        display: inline-block;
        text-align: center;
    }

    .ikon_pc{
        width: 50px;
        margin-right: 10px;
    }

    #nummer #cvr_pc{
        display: block;
    }
}